<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>FIRST_MAVEN-snapshot</id>
      <username>admin</username>
      <password>0280719930</password>
    </server>
    <server>
      <id>FIRST_MAVEN-release</id>
      <username>admin</username>
      <password>0280719930</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://18.180.156.185:8081/repository/FIRST_MAVEN-central/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>


</settings>
